/* STAGE BUTTONS */
.stage-button {
	text-align: center;
	border-radius: 3px;
	padding: 3px 6px;
    border:0;
}
.stage-button.sm {
	padding: 2px 4px;
}
.stage-button.lg {
	padding: 8px 16px;
}
.stage-button-flat {
	border-radius: 0px;
}
.stage-button-new {
	color: #fff;
	background-color: #1c8be6;
}
.stage-button-in_progress {
	color: #fff;
	background-color: #44ab8e;
}
.stage-button-testing {
	color: #fff;
	background-color: #98c363;
}
.stage-button-staging {
	color: #fff;
	background-color: #f36930;
}
.stage-button-validated {
	color: #fff;
	background-color: #c44866;
}
.stage-button-completed {
	color: #fff;
	background-color: #4e67c7;
}
.stage-button-on_hold {
	color: #fff;
	background-color: #ff0000;
}
